spring:
  application:
    name: megasena
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:megasena
    driver-class-name: org.h2.Driver
    username: sa
    password: sa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
springdoc:
  swagger-ui:
    path: /swagger-ui.html
